.main_container {
  width: 100%;
  height: auto;
  .bg {
    height: 4rem;
    background-color: #e5d0ff;
    width: 100%;
    .icon {
      height: 4.5rem;
      width: 4.5rem;
      transform: translate(25px, 35px);
      border-radius: 8px;
    }
  }
  .section {
    position: relative;
    button {
      border: none;
      display: flex;
      float: right;
      margin-right: 2rem;
      margin-top: 1rem;
      background-color: transparent;
      cursor: pointer;
      img {
        width: 4.5rem;
      }
    }
    .content {
      padding-top: 2.6rem;
      margin: 0rem 1.5rem;
      h3 {
        font-family: Manrope-SemiBold;
        font-size: 18px;
        color: black;
        margin-bottom: 0.6rem;
      }
      p {
        font-family: Manrope-Medium;
        font-size: 14px;
        color: #6f6e73;
        margin: 0rem;
      }
      #util {
        color: #587be0;
        font-family: Manrope-Medium;
        font-size: 14px;
        margin-top: 0.6rem;
      }
    }
    .btn_container {
      display: flex;
      align-items: center;
      margin: 1rem;
      .button_check {
        background-color: transparent;
        border: none;
        margin-top: 0rem !important;
        margin-right: 1rem !important;
        img {
          width: 6rem;
        }
      }
      .user_detail {
        display: flex;
        align-items: center;
        img {
          width: 1.2rem;
          margin-right: 0.5rem;
        }
        p {
          margin: 0rem;
          font-family: Manrope-Medium;
          font-size: 14px;
          color: #6f6e73;
        }
      }
    }
  }
}
